:root {
        --ic-brand-primary-darkened-5: #172946;
--ic-brand-primary-darkened-10: #162742;
--ic-brand-primary-darkened-15: #15253F;
--ic-brand-primary-lightened-5: #233552;
--ic-brand-primary-lightened-10: #2F405B;
--ic-brand-primary-lightened-15: #3A4A64;
--ic-brand-button--primary-bgd-darkened-5: #00658F;
--ic-brand-button--primary-bgd-darkened-15: #005B80;
--ic-brand-button--secondary-bgd-darkened-5: #172946;
--ic-brand-button--secondary-bgd-darkened-15: #15253F;
--ic-brand-font-color-dark-lightened-15: #262626;
--ic-brand-font-color-dark-lightened-28: #474747;
--ic-link-color-darkened-10: #066087;
--ic-link-color-lightened-10: #1E78A0;
--ic-brand-primary: #182B49;
--ic-brand-font-color-dark: #000000;
--ic-link-color: #066a96;
--ic-brand-button--primary-bgd: #006a96;
--ic-brand-button--primary-text: #ffffff;
--ic-brand-button--secondary-bgd: #182b49;
--ic-brand-button--secondary-text: #ffffff;
--ic-brand-global-nav-bgd: #182B49;
--ic-brand-global-nav-ic-icon-svg-fill: #FFCD00;
--ic-brand-global-nav-ic-icon-svg-fill--active: #006A96;
--ic-brand-global-nav-menu-item__text-color: #ffffff;
--ic-brand-global-nav-menu-item__text-color--active: #182B49;
--ic-brand-global-nav-avatar-border: #ffffff;
--ic-brand-global-nav-menu-item__badge-bgd: #6E963B;
--ic-brand-global-nav-menu-item__badge-bgd--active: var(--ic-brand-primary);
--ic-brand-global-nav-menu-item__badge-text: #000000;
--ic-brand-global-nav-menu-item__badge-text--active: #ffffff;
--ic-brand-global-nav-logo-bgd: #182B49;
--ic-brand-header-image: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/canvas_logomark_only@2x-e197434829.png');
--ic-brand-mobile-global-nav-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/mobile-global-nav-logo-aff8453309.svg');
--ic-brand-watermark: ;
--ic-brand-watermark-opacity: 1;
--ic-brand-favicon: url('https://instructure-uploads.s3.amazonaws.com/account_131710000000000001/attachments/879/favicon.ico');
--ic-brand-apple-touch-icon: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/apple-touch-icon-585e5d997d.png');
--ic-brand-msapplication-tile-color: var(--ic-brand-primary);
--ic-brand-msapplication-tile-square: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-eda8889e7b.png');
--ic-brand-msapplication-tile-wide: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/windows-tile-wide-44d3cc1060.png');
--ic-brand-right-sidebar-logo: ;
--ic-brand-Login-body-bgd-color: #006a96;
--ic-brand-Login-body-bgd-image: url('https://instructure-uploads.s3.amazonaws.com/account_131710000000000001/attachments/880/ucsd-library.jpg');
--ic-brand-Login-body-bgd-shadow-color: #AFA9A0;
--ic-brand-Login-logo: url('https://du11hjcvx0uqb.cloudfront.net/dist/images/login/canvas-logo-5617606953.svg');
--ic-brand-Login-Content-bgd-color: #AFA9A0;
--ic-brand-Login-Content-border-color: #AFA9A0;
--ic-brand-Login-Content-inner-bgd: none;
--ic-brand-Login-Content-inner-border: none;
--ic-brand-Login-Content-inner-body-bgd: none;
--ic-brand-Login-Content-inner-body-border: none;
--ic-brand-Login-Content-label-text-color: #ffffff;
--ic-brand-Login-Content-password-text-color: #dddddd;
--ic-brand-Login-footer-link-color: #dddddd;
--ic-brand-Login-footer-link-color-hover: #cccccc;
--ic-brand-Login-instructure-logo: #cccccc;
      }